<% include partials/_head %>
<% include partials/_nav %>
<form action="/user/point/<%= point.id%>/update" method="post">
    <input type="text" id="autocomplete" placeholder="search">
    <input type="hidden" name="user_id" value="<%= point.user_id %>">
    <input type="hidden" name="list_id" value="<%= point.list_id %>">
    <input type="text" name="title" value="<%= point.title%>" placeholder="Title">
    <input type="text" name="address" value="<%= point.address%>">
    <input type="text" name="long" value="<%= point.long %>" placeholder="longtitude">
    <input type="text" name="lat" value="<%= point.lat %>" placeholder="latitude">
    <input type="text" name="img_url" value="<%= point.img_url %>" placeholder="Image URL">
    <img src="<%= point.img_url %>" alt="">
    <textarea name="desc" id="" cols="30" rows="10" placeholder="Description"><%= point.desc %></textarea>
    <button type="submit">Update</button>
</form>
<a href="/user/point/<%= point.id%>/Delete">Delete</a>

<script>
  var placeSearch, autocomplete;

  function initAutocomplete() {
    autocomplete = new google.maps.places.Autocomplete(
      (document.getElementById('autocomplete')),
      {types: []});
    autocomplete.addListener('place_changed', function () {
      var place = autocomplete.getPlace();
      var formatted_address = place.formatted_address;
      var long = place.geometry.location.toJSON().lng;
      var lat = place.geometry.location.toJSON().lat;
      var img_url = `https://maps.googleapis.com/maps/api/streetview?size=200x200&location=${lat},${long}&key=AIzaSyApuXPdvWCHCFtRg-AYVTOlfXNIJ7y-HLA`;

      $("input[name = address]").val(formatted_address);
      $("input[name = long]").val(long);
      $("input[name = lat]").val(lat);
      $("input[name = img_url]").val(img_url);
      $("img").attr("src", img_url);
    });
  }

  function geolocate() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        var geolocation = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };
        var circle = new google.maps.Circle({
          center: geolocation,
          radius: position.coords.accuracy
        });
        autocomplete.setBounds(circle.getBounds());
      });
    }
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyApuXPdvWCHCFtRg-AYVTOlfXNIJ7y-HLA&libraries=places&callback=initAutocomplete"
        async defer></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
